[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-bdd = "*"
pytest-mock = "*"
pylint = "*"
coverage = "*"
autopep8 = "*"

[packages]
python-dotenv = "==0.19.2"
requests = "*"
spotipy = "*"
pandas = "*"
google-cloud-secret-manager = "*"
google-cloud-bigquery = "*"
pandas-gbq = "*"
functions-framework = "*"
google-cloud-storage = "*"

[requires]
python_version = "3.13"
